@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
body {
  font-family: "Barlow", sans-serif;
  background-color: #fff6f6; }
  body h1 {
    font-family: "Amatic SC", cursive;
    font-size: 2.5rem;
    text-align: center; }
    body h1 span {
      display: block;
      color: #ce3838;
      font-size: 5rem; }
  body .displayContainer {
    font-family: "Kiwi Maru", serif; }
