.introMSG {
	position: relative;
	p {
		margin: 0;
	}
	i {
		color: #9098a1;

		position: absolute;
		bottom: 65%;
		left: 84%;
	}
}

.filterTab {
	display: flex;
	justify-content: space-around;

	font-size: 2rem;
	font-family: "Amatic SC", cursive;

	a {
		color: $second;
	}
	.activeFilter {
		background-color: $third;
	}
}
.formFlex {
	@include flexColumn;
	@include flexCenter;
	gap: 0.3rem;
}

.emailWarning {
	background-color: antiquewhite;
}
.msgColor {
	color: $red;

	text-align: center;
	font-size: 1.5rem;
	font-family: "Amatic SC", cursive;
}

a {
	text-decoration: none;
}
