body {
	height: 90vh;
	padding: 1rem;

	@include flexCenter;
	main {
		height: 100%;
		@include flexColumn;
		justify-content: center;
	}
}

.msgPage {
	height: 100%;
	@include flexColumn;
}
.displayContainer {
	@include flexColumn;
	flex: 1;

	background-color: $primary;

	border-radius: 1rem;
	border: 2px solid $red;

	overflow-x: auto;

	// &::-webkit-scrollbar {
	// 	width: 1em;
	// }

	// &::-webkit-scrollbar-track {
	// 	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	// }

	// &::-webkit-scrollbar-thumb {
	// 	background-color: darkgrey;
	// 	outline: 1px solid slategrey;
	// }

	.msgContainer {
		@include flexColumn;
		flex-basis: 90%;
		gap: 0.5rem;
		padding: 0 0.2rem;

		overflow-wrap: anywhere;
<<<<<<< HEAD
		position: relative;

		.welcomeMsgContainer {
			@include flexCenter;
			flex-direction: column;

			@include absoluteCentered;
			height: 100%;
			width: 100%;

			background-color: inherit;
			color: $second;
			font-size: 1.5rem;
			text-align: center;

			div {
				width: inherit;
				background-color: $white;
				span {
					color: $red;
					font-size: 2.5rem;
				}
			}
		}
=======
>>>>>>> parent of 5e41000 (implement welcome msg when user login !)

		.alignmentLeft {
			border-radius: 40px 50px 15px 70px;
			align-self: flex-start;
		}
		.alignmentRight {
			color: $red;
			border-radius: 40px 50px 70px 15px;
			align-self: flex-end;
		}
	}
	.singleMSG {
		background-color: $white;
		color: $second;
		padding: 0 1rem;

		span {
			font-weight: 600;
			font-size: 1.3rem;
		}
	}
}
.msgForm {
	display: flex;
	height: 35px;
	padding: 0.3rem;

	input {
		flex: 1;
		text-align: center;
		
		@include borderRadius(15px, 15px);
		outline: none;
		border: none;
	}
}

ul {
	list-style: none;
	padding-left: 0;
}
.displayNone {
	display: none;
}
