body {
	height: 80vh;
	padding: 1rem;

	@include flexCenter;
	main {
		height: 100%;
		@include flexColumn;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		@media (min-width: 1024px) {
			width: 40%;
		}
	}
}

.msgPage {
	height: 100%;
	position: relative;
	@include flexColumn;
}
.buttonContainer {
	@include flexCenter;
	justify-content: space-between;

	font-size: 1.6rem;
	margin-bottom: 2rem;
	span {
		opacity: 0.8;
	}
}
.onlineUserContainer {
	@include absoluteCentered;

	background-color: white;
	color: $second;

	top: 49%;
	width: 100%;
	border-radius: 4%;

	z-index: 10;
	opacity: 0.9;

	.onlineInnerContainer {
		@include flexColumn;
		padding: 2rem;

		.onlineUserDetails {
			display: flex;
			gap: 1rem;
			font-size: 1.3rem;

			@include scrollbar;
			overflow: auto;

			p {
				@include flexCenter;
				background-color: $white;
				padding: 0.5rem;
				border-radius: 15px;

				&:before {
					content: "\A";
					width: 10px;
					height: 10px;

					border-radius: 50%;
					background: yellowgreen;

					display: inline-block;
					margin-right: 0.2rem;
					align-self: flex-end;
				}
			}
			.meOnline {
				color: $red;
			}
		}
	}
}
.displayContainer {
	@include flexColumn;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;

	background-color: $primary;

	border-radius: 2%;
	border: 2px solid $red;

	position: relative;
	overflow-x: auto;

	@include scrollbar;

	.msgContainer {
		@include flexColumn;
		-ms-flex-preferred-size: 90%;
		flex-basis: 90%;
		gap: 0.5rem;
		padding: 0 0.2rem;

		overflow-wrap: anywhere;
		position: relative;

		.welcomeMsgContainer {
			@include flexCenter;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;

			@include absoluteCentered;
			height: 100%;
			width: 100%;

			background-color: inherit;
			color: $second;
			font-size: 1.5rem;
			text-align: center;

			div {
				width: inherit;
				background-color: $white;
				span {
					color: $red;
					font-size: 2.5rem;
				}
			}
		}

		.alignmentLeft {
			border-radius: 40px 50px 15px 70px;
			-ms-flex-item-align: start;
			align-self: flex-start;
		}
		.alignmentRight {
			color: $red;
			border-radius: 40px 50px 70px 15px;
			-ms-flex-item-align: end;
			align-self: flex-end;
		}
	}
	.singleMSG {
		background-color: $white;
		color: $second;
		padding: 0 1rem;

		span {
			font-weight: 600;
			font-size: 1.3rem;
		}
	}
	.logOutMsg {
		@include flexCenter;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

		@include absoluteCentered;
		height: 100%;
		width: 100%;
		z-index: 10000;

		background-color: $third;
		color: $second;
		font-size: 1.5rem;
		text-align: center;

		span {
			color: $red;
			font-size: 2.5em;
		}
	}
}
.msgForm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0.3rem;

	input {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		text-align: center;
		height: 3rem;

		@include borderRadius(15px, 15px);
		outline: none;
		border: none;
	}
}

ul {
	list-style: none;
	padding-left: 0;
}
.displayNone {
	display: none;
}
