body {
	height: 90vh;
	padding: 1rem;

	@include flexCenter;
	main {
		height: 100%;
		@include flexColumn;
		justify-content: center;
	}
}



.titleMSG {
	background-color: $third;

	text-align: center;
	padding: 2rem;
	@include borderRadius(1rem, 1rem);
	h1 {
		color: $second;
	}
}

.displayContainer {
	@include flexColumn;
	flex-basis: 80%;

	background-color: $primary;

	padding: 2rem;

	@include borderRadius(0, 0, 1rem, 1rem);

	.msgContainer {
		@include flexColumn;
		flex-basis: 90%;
		gap: 1rem;

		overflow-wrap: anywhere;

		.alignmentLeft {
			align-self: flex-start;
		}
		.alignmentRight {
			align-self: flex-end;
		}
	}
	.singleMSG {
		background-color: $white;
	}
}

ul {
	list-style: none;
	padding-left: 0;
}
.displayNone {
	display: none;
}
