@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin absoluteCentered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin borderRadius(
	$topLeft: 0,
	$bottomLeft: 0,
	$topRight: 0,
	$bottomRight: 0
) {
	border-top-left-radius: $topLeft;
	border-bottom-left-radius: $bottomLeft;
	border-top-right-radius: $topRight;
	border-bottom-right-radius: $bottomRight;
}
